body {
    cursor: url('cursor-bg.png'), auto !important;
}

.hero {
    max-width: 100%;
    max-height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 40px;

    margin-top: 5%;
}

.music {
    margin-top: 3%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.dwight-head {
    max-width: 15%;
    max-height: 15%;
    transition: transform .8s;
}

.dwight-head:hover {
    transform: rotate(360deg);
}

.michael-head {
    max-width: 16%;
    max-height: 16%;
    transition: transform .8s;
}

.michael-head:hover {
    transform: rotate(-360deg);
}

.logo {
    max-width: 50%;
    max-height: 50%;
}

.anchors {
    display: flex;
    justify-content: center;
    gap: 25px;

    margin-top: 3%;
    
}

.cuidado {
    padding: 1%;
    border-radius: 8px;
    border: .2rem solid black;
    color: black;
    text-decoration: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial;
    font-weight: 700;
    overflow: hidden; 
}

.cuidado:hover {
    background-image: linear-gradient( to right,
    #FCED00,
    #FCED00 16.65%,
    #009E4F 16.65%,
    #009E4F 33.3%,
      #FCED00 33.3%,
      #FCED00 49.95%,
      #009E4F 49.95%,
      #009E4F 66.6%,
      #FCED00 66.6%,
      #FCED00 83.25%,
      #009E4F 83.25%,
      #009E4F 100%,
      #FCED00 100%

    );

  animation: slidebg 2s linear infinite;
}

.btn {
    padding: 1%;
    border-radius: 8px;
    border: .2rem solid black;
    color: black;
    text-decoration: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial;
    font-weight: 700;
    overflow: hidden;
}

.btn:hover {
    background-image: linear-gradient( to right, 
      #f01621,
      #f01621 16.65%,
      #f1cf0f 16.65%,
      #f1cf0f 33.3%,
      #f01621 33.3%,
      #f01621 49.95%,
      #f1cf0f 49.95%,
      #f1cf0f 66.6%,
      #f01621 66.6%,
      #f01621 83.25%,
      #f1cf0f 83.25%,
      #f1cf0f 100%,
      #f01621 100% 
    );

  animation: slidebg 2s linear infinite;
}

@keyframes slidebg {
    to {
        background-position: 20vw;
    }
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.195);
    text-align: center;  
    
    padding: 8px;
}

.contato {
    color: white;
    text-decoration: none;

    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial;
    font-weight: 500;
}